<md-sidenav-container>

    <md-sidenav #sidenav mode="side">
        <h3>Configuration</h3>
        <md-input-container style="width: 100%">
            <input mdInput [(ngModel)]="user.name" name="name" placeholder="Username">
        </md-input-container>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>
        <span>Angular Chat</span>
    </md-toolbar>
          
    <md-card>
        <div class="chat-input">
            <md-icon>message</md-icon>
            <md-input-container style="width: 100%">
                <input mdInput #inputMessage placeholder="Type your message"
                      [(ngModel)]="messageContent"
                      maxlength="140"
                >
            </md-input-container>
            <button md-icon-button (click)="sendMessage()">
                <md-icon>send</md-icon>
            </button>
        </div>
        <md-list class="chat-container">
            <md-list-item *ngFor="let message of messages">
                <img md-list-avatar src="{{message.from.avatar}}">
                <p md-line>
                    <span> {{message.room}} </span>
                </p>
            </md-list-item>
        </md-list>
    </md-card>

</md-sidenav-container>

